@model IndexPage

<partial name="_TopicNav" model="1" />

<br class="clear" />

<partial name="SideBar/_Sidebar" for="@Model.Sidebar" />

<div id="categories">
	@foreach (var indexCategory in Model.Categories) {
		<partial name="_IndexCategory" for="@indexCategory" />
	}
</div>

@{ViewData["Title"] = "Warpstorm";}

@section styles {
	<link rel="stylesheet" href="~/styles/board-index.css" asp-append-version="true" />
}