@model Forum3.ViewModels.Message.Input

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>Message</h4>

<hr />

<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

<form asp-action="Create" role="form">
    <div class="form-group">
        <textarea asp-for="Body" class="form-control"></textarea>
        <span asp-validation-for="Body" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-default">Create</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}