@model Forum3.Models.Message

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Message</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="DisplayBody" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayBody" class="form-control" />
                <span asp-validation-for="DisplayBody" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EditedById" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EditedById" class="form-control" />
                <span asp-validation-for="EditedById" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastReplyById" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastReplyById" class="form-control" />
                <span asp-validation-for="LastReplyById" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastReplyId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastReplyId" class="form-control" />
                <span asp-validation-for="LastReplyId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastReplyPosted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastReplyPosted" class="form-control" />
                <span asp-validation-for="LastReplyPosted" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LongPreview" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LongPreview" class="form-control" />
                <span asp-validation-for="LongPreview" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OriginalBody" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OriginalBody" class="form-control" />
                <span asp-validation-for="OriginalBody" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ParentId" class="form-control" />
                <span asp-validation-for="ParentId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostedById" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostedById" class="form-control" />
                <span asp-validation-for="PostedById" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Replies" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Replies" class="form-control" />
                <span asp-validation-for="Replies" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReplyId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReplyId" class="form-control" />
                <span asp-validation-for="ReplyId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortPreview" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortPreview" class="form-control" />
                <span asp-validation-for="ShortPreview" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeEdited" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeEdited" class="form-control" />
                <span asp-validation-for="TimeEdited" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimePosted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimePosted" class="form-control" />
                <span asp-validation-for="TimePosted" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Views" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
