@model IndexPage

@foreach (var item in Model.Smileys) {
	@await Html.PartialAsync("_IndexItem", item)
}

@{ViewData["Title"] = "Smileys";}

@section PageActions {
	<p>
		<a class="button" asp-action="Create" asp-controller="Smileys">Create a new Smiley</a>
	</p>
}

@*@section styles {
	<environment names="Development">
		<link rel="stylesheet" href="~/css/Pages/SmileyIndex.css" asp-append-version="true" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/css/min/SmileyIndex.min.css" asp-append-version="true" />
	</environment>
}*@