@inject UserContext UserContext

@{
	var withSidebar = UserContext.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@Html.Raw(ViewData["Title"])</title>

	<partial name="_Meta" />

	<link rel="shortcut icon" href="~/images/logos/favicon.png" asp-append-version="true">
	<link rel="icon" href="~/images/logos/favicon.png" type="image/png" asp-append-version="true">
	<link rel="apple-touch-icon" href="~/images/logos/apple-touch-icon.png" asp-append-version="true">
	<link rel="mask-icon" color="#1d2737" href="~/images/logos/mask-icon.svg" asp-append-version="true">

	<link rel="stylesheet" href="~/styles/lib.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/styles/global.css" asp-append-version="true" />

	@await RenderSectionAsync("Styles", required: false)
	@await RenderSectionAsync("HeadScripts", required: false)
</head>
<body>
	<header id="page-header" class="margin-center pad-left pad-right">
		<partial name="_Header" />
	</header>

	<div role="main" class="margin-center">
		@if (withSidebar) {
			<vc:sidebar />
		}

		<main class="align-center @(withSidebar ? "with-sidebar" : "")">
			<header class="gap-top">
				@await RenderSectionAsync("Header", required: false)
			</header>

			<nav class="actions float-right">
				<ul class="inline inline-children">
					@await RenderSectionAsync("PageActions", required: false)
				</ul>
			</nav>

			<div class="align-left">
				@if (!string.IsNullOrEmpty(TempData[Constants.InternalKeys.StatusMessage]?.ToString())) {
					<div class="content-box pad small-gap error">@TempData[Constants.InternalKeys.StatusMessage]</div>
				}

				@RenderBody()
			</div>
			<footer>
				@await RenderSectionAsync("Footer", required: false)
			</footer>
		</main>
	</div>

	<partial name="_Footer" />

	<script src="~/scripts/app.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>