@{
	if (IsSectionDefined("Styles")) {
		IgnoreSection("Styles");
	}

	if (IsSectionDefined("HeadScripts")) {
		IgnoreSection("HeadScripts");
	}

	if (IsSectionDefined("Breadcrumbs")) {
		IgnoreSection("Breadcrumbs");
	}

	if (IsSectionDefined("PageActions")) {
		IgnoreSection("PageActions");
	}

	if (IsSectionDefined("Footer")) {
		IgnoreSection("Footer");
	}

	if (IsSectionDefined("Header")) {
		IgnoreSection("Header");
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>@Html.Raw(ViewData["Title"])</title>

	<partial name="_Meta" />

	<link rel="shortcut icon" href="~/images/logos/favicon.png" asp-append-version="true">
	<link rel="icon" href="~/images/logos/favicon.png" type="image/png" asp-append-version="true">
	<link rel="apple-touch-icon" href="~/images/logos/apple-touch-icon.png" asp-append-version="true">
	<link rel="mask-icon" color="#1d2737" href="~/images/logos/mask-icon.svg" asp-append-version="true">
</head>
<body>
	@RenderBody()
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>