@model ViewModels.Delay

<div class="pad">
	<script>
        setTimeout(function() {
            window.location.replace("@Html.Raw(Model.NextAction)");
        }, 50)
	</script>

	<p>@Model.ActionNote</p>
	<div style="border: 2px solid #000; background-color: #00003b; width: 100%; height: 25px; margin: 0 auto;">
		<div style="background-color: #000080; width: @Model.Percent%; height: 20px; text-align: center;">@(Math.Ceiling(Model.Percent))%</div>
	</div>
</div>

@{
	var subtitle = " (Preparing)";

	if (Model.CurrentPage == Model.TotalPages) {
		subtitle = $" (Finishing)";
	}

	if (Model.CurrentPage >= 0) {
		subtitle = $" ({@Model.CurrentPage} of {@Model.TotalPages})";
	}

	ViewData["Title"] = $"{Model.ActionName}{subtitle}";
}

@section Header {@ViewData["Title"]}