@model ViewModels.Error

<h4 class="text-danger">An error occurred while processing your request.</h4>

@if (Model.ShowRequestId) {
	<p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
}

@{ ViewData["Title"] = "Error"; }
@section Header {@ViewData["Title"]}