@model List<string>

<div class="content-box pad gap-bottom">
	<p id="action-name" class="pad-bottom"></p>
	<p id="action-note" class="pad-bottom"></p>
	<div id="progress-bar" class="hidden">
		<div id="completed-bar"></div>
	</div>
	<p class="small-pad-top font-small">
		<button id="start-button" class="small-button">Start</button>
	</p>
</div>

<div class="content-box pad gap-bottom font-small">
	<p class="subdued-text">Settings</p>
	<div class="small-pad-left">
		<p>Log successes <input id="log-success" type="checkbox" /></p>
		<p>Pause after next step <input id="pause-after-next" type="checkbox" /></p>
		<p>Pause on errors <input id="pause-on-error" type="checkbox" checked="checked" /></p>
		<p>Take <input id="take" type="text" size="3" /></p>
		<p>Page <input id="current-page" type="text" size="3" /> of <span id="total-pages"></span></p>
		<p>Step <input id="current-step" type="text" size="3" /> of <span id="total-steps"></span></p>
	</div>
</div>

<div class="content-box pad">
	<p class="font-small subdued-text">Log</p>
	<ul id="log" class="small-pad-left"></ul>
</div>


@{ViewData["Title"] = $"Multi-Step Process";}
@section Header {@ViewData["Title"]}

@section styles {
	<link rel="stylesheet" href="~/styles/multi-step.css" asp-append-version="true" />
}

@section scripts {
	<script>
		window.pageActions = 'multi-step';
		window.steps = [
			@foreach (var address in Model) {
				<text>'@address',</text>
			}
		];
	</script>
}