@model List<string>

<div class="content-box pad gap-bottom">
	<p id="action-name"></p>
	<p id="action-note" class="pad-bottom font-small subdued-text"></p>
	<div id="progress-bar" class="hidden">
		<div id="completed-bar"></div>
	</div>
	<p class="small-pad-top font-small">
		<button id="start-button" class="small-button">Start</button>
	</p>
</div>

<div class="content-box pad gap-bottom">
	<p class="subdued-text">Settings</p>
	<dl>
		<dt>Toggle</dt>
		<dd><input id="log-success" type="checkbox" /> Log successes</dd>
		<dd><input id="pause-after-next" type="checkbox" /> Pause after next page</dd>
		<dd><input id="pause-on-error" type="checkbox" checked="checked" /> Pause on errors</dd>
	</dl>
	<dl>
		<dt>Take</dt>
		<dd><input id="take" type="text" size="3" /></dd>
	</dl>
	<dl>
		<dt>Page</dt>
		<dd><input id="current-page" type="text" size="3" /> of <span id="total-pages"></span></dd>
	</dl>
	<dl>
		<dt>Stage</dt>
		<dd><input id="current-stage" type="text" size="3" /> of <span id="total-stages"></span></dd>
	</dl>
</div>

<div class="content-box pad">
	<p class="font-small subdued-text">Log</p>
	<ul id="log" class="small-pad-left"></ul>
</div>


@{ViewData["Title"] = $"Process";}
@section Header {@ViewData["Title"]}

@section styles {
	<link rel="stylesheet" href="~/styles/process.css" asp-append-version="true" />
}

@section scripts {
	<script>
		window.pageActions = 'process';
		window.stages = [
			@foreach (var address in Model) {
				<text>'@address',</text>
			}
		];
	</script>
}