<div class="requires-javascript hidden">
    <p class="pad-top">
        <button class="add-bbcode small-button" bbcode="quote">Quote</button>
        <button class="add-bbcode small-button" bbcode="url">Link</button>
        <button class="add-bbcode small-button" bbcode="img">Image</button>
        <button class="add-bbcode small-button" bbcode="code">Code</button>
        <button class="add-bbcode small-button" bbcode="spoiler">Spoiler</button>
        <button class="add-bbcode small-button" bbcode="list">List</button>
        <button class="add-bbcode small-button" bbcode="numlist"># List</button>
    </p>
    <p class="pad-top">
        <button class="add-bbcode small-button" bbcode="bold"><span class="bbc-bold">Bold</span></button>
        <button class="add-bbcode small-button" bbcode="italics"><span class="bbc-italic">Italics</span></button>
        <button class="add-bbcode small-button" bbcode="underline"><span class="bbc-underline">Underline</span></button>
        <button class="add-bbcode small-button" bbcode="strike"><span class="bbc-strike">Strike</span></button>
        <button class="add-bbcode small-button" bbcode="color"><span>Color</span></button>
        <button class="add-bbcode small-button" bbcode="size"><span>Size</span></button>
    </p>
    <p class="pad-top">
        <div class="inline">
            <div class="add-smiley">
                <span class="small-button">
                    <img class="align-middle" src="~/images/smiley.png" alt="Smiley" title="Smiley" /> Smiley
                </span>
                <vc:smiley-selector />
            </div>
        </div>

        <div class="inline">
            <div class="add-reaction">
                <span class="small-button">
                    <img class="align-middle" src="~/images/imgur.png" alt="Imgur Reaction" title="Imgur Reaction" /> Reaction
                </span>
                <vc:reaction-selector />
            </div>
        </div>
    </p>
</div>