@inject UserContext UserContext

<div id="reaction-selector" class="hidden">
	<div class="content-box overflow-scroll-y">
		<div id="imgur-setup-details" class="hidden">
			<p>It looks like you haven't put your imgur name in your <a asp-controller="@nameof(Account)" asp-action="@nameof(Account.Details)" target="_blank">account settings</a></p>
			<p>When you add your imgur name, Warpstorm will pull your favorites into this box for <span style="color: red">f</span><span style="color: orange">a</span><span style="color: green">n</span><span style="color: blue">c</span><span style="color: purple">y</span> reactions.</p>
		</div>
	</div>
</div>

<link rel="stylesheet" href="~/styles/reaction-selector.css" asp-append-version="true" />

<script>
	window.imgurName = '@UserContext.ApplicationUser.ImgurName';
</script>
