<section class="content-box pad">
	<ul>
		<li class="pad"><a asp-action="@nameof(Messages.ReprocessMessages)">Reprocess message contents</a></li>
		<li class="pad"><a asp-action="@nameof(Messages.CleanupDeletedMessages)">Cleanup deleted messages</a></li>
	</ul>
</section>