@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?cch7qq');
	src:url('/fonts/icomoon.eot?#iefixcch7qq') format('embedded-opentype'),
		url('/fonts/icomoon.woff?cch7qq') format('woff'),
		url('/fonts/icomoon.ttf?cch7qq') format('truetype'),
		url('/fonts/icomoon.svg?cch7qq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-pushpin:before {
	content: "\e946";
}

.icon-bubble:before {
	content: "\e96b";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-quotes-left:before {
	content: "\e977";
}

.icon-search:before {
	content: "\e986";
}

.icon-wrench:before {
	content: "\e991";
}

.icon-fire:before {
	content: "\e9a9";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-flag:before {
	content: "\e9cc";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-bookmark:before {
	content: "\e9d2";
}

.icon-bookmarks:before {
	content: "\e9d3";
}

.icon-sun:before {
	content: "\e9d4";
}

.icon-happy:before {
	content: "\e9df";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-enter:before {
	content: "\ea13";
}

.icon-exit:before {
	content: "\ea14";
}

.icon-move-down:before {
	content: "\ea47";
}

.icon-checkbox-checked:before {
	content: "\ea52";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-radio-checked:before {
	content: "\ea54";
}

.icon-radio-checked2:before {
	content: "\ea55";
}

.icon-radio-unchecked:before {
	content: "\ea56";
}