@model Forum3.Models.ViewModels.Topics.Items.MessagePreview

<tr>
    <td clickableLinkParent>
        <a asp-action="Display" asp-route-id="@Model.Id">@Model.ShortPreview</a>
    </td>
    <td>
        @Model.LastReplyPosted
    </td>
    <td>
        <a asp-action="Delete" asp-controller="Topics" asp-route-id="@Model.Id">Delete</a>
    </td>
</tr>