@model Forum3.ViewModels.Messages.Input

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>Message</h4>

<hr />

@Html.Partial("_CreateMessageForm", Model)

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}