@model TopicFirstPost

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<h4>Message</h4>

<hr />

@Html.Partial("_CreateMessageForm", Model)

<div>
    <a asp-action="Index" asp-controller="Topics">Back to List</a>
</div>