@model TopicDisplayPage

<div asp-validation-summary="All" class="text-danger"></div>

@for (var i = 0; i < Model.Messages.Count(); i++) {
	@Html.Partial("_DisplayItem", Model.Messages[i])
}

<p class="gapTop">Reply to Thread:</p>
<div class="mainContent pad">
	@Html.Partial("_MessageForm", Model.ReplyForm)
</div>

@section scripts {
    <environment names="Development">
        <script src="~/js/TopicDisplay.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/TopicDisplay.min.js" asp-append-version="true"></script>
    </environment>
}

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/TopicDisplay.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/TopicDisplay.min.css" asp-append-version="true" />
    </environment>
}