@model TopicIndexPage

@{
    ViewData["Title"] = "Topics";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" asp-controller="Messages">Create New</a>
</p>

<table class="table">
    @foreach (var item in Model.Topics) {
        @Html.Partial("_IndexItem", item)
    }
</table>