@model TopicIndexPage

@{
    ViewData["Title"] = "Topics";
}

@if (User.Identity.IsAuthenticated) {
    <p>
        <a class="button" asp-action="Create" asp-controller="Messages" asp-route-id="@Model.BoardId">Create a new Topic</a>
    </p>
}

<div class="table full-width content-box">
    @foreach (var item in Model.Topics) {
        @await Html.PartialAsync("_IndexItem", item)
    }
</div>