<section class="content-box pad">
	<p class="error hidden">This account has been locked out, please try again later.</p>
</section>

@{ ViewData["Title"] = $"Locked out"; }
@section Header {@ViewData["Title"]}