<section class="content-box pad">
	<p>Your password has been reset. Please <a asp-action="@nameof(Account.Login)" asp-route-returnurl="@Url.Action(nameof(Topics.Index), nameof(Topics))">click here to log in</a>.</p>
</section>

@{ ViewData["Title"] = $"Reset password confirmation"; }
@section Header {@ViewData["Title"]}