@inject UserContext UserContext

<div class="drop-down-menu content-box overflow-scroll-y hidden" data-component="reaction-selector">
    @if (string.IsNullOrEmpty(UserContext.ApplicationUser.ImgurName)) {
        <p>It looks like you haven't put your imgur name in your <a class="underline" asp-controller="@nameof(Account)" asp-action="@nameof(Account.Details)" target="_blank">account settings</a>.</p>
        <p class="small-pad-top">When you add your imgur name, Warpstorm will pull your favorites into this box for <span style="color: red">f</span><span style="color: orange">a</span><span style="color: green">n</span><span style="color: blue">c</span><span style="color: purple">y</span> reactions.</p>
    }
</div>

@if (!string.IsNullOrEmpty(UserContext.ApplicationUser.ImgurName)) {
    <script>
        if (!window.imgurName) {
            window.imgurName = '@UserContext.ApplicationUser.ImgurName';
        }
    </script>
}
