@model ViewModels.Sidebar.Sidebar

@if (!(Model is null)) {
	<div id="side-bar" class="pad overflow-hidden float-right">
		<partial name="Sidebar/_Quote" model="@Model.Quote" />
		<vc:notifications-list />
		<vc:events-list />
		<partial name="Sidebar/_OnlineUsersList" model="@Model.OnlineUsers" />
	</div>

	<link rel="stylesheet" href="~/styles/sidebar.css" asp-append-version="true" />
}
