@model ForgotPasswordPage

<section class="content-box pad">
	<p class="pad">NOTE: If you no longer remember or own the email address you registered with, please email me directly at yarbro@outlook.com and I will happily reset your password manually.</p>

	<form method="post" asp-route-returnurl="@ViewData["Referrer"]">
		<div asp-validation-summary="All" class="error"></div>

		<dl>
			<dt>Email</dt>
			<dd><input asp-for="@Model.Email" /></dd>
			<dd><span asp-validation-for="@Model.Email" class="error"></span></dd>
		</dl>

		@await Html.PartialAsync("_Recaptcha")

		<ul>
			<li><button>Submit</button></li>
			<li><cancel-button /></li>
		</ul>
	</form>
</section>

@{ ViewData["Title"] = $"Forgot your password?"; }
@section Header {@ViewData["Title"]}