@model ViewModels.Account.ForgotPasswordPage

<section class="content-box pad">
	<form method="post"
		  asp-route-returnurl="@ViewData["Referrer"]">

		<div asp-validation-summary="All" class="error"></div>

		<dl>
			<dt>Email</dt>
			<dd><input asp-for="@Model.Email" /></dd>
			<dd><span asp-validation-for="@Model.Email" class="error"></span></dd>
		</dl>

		<ul>
			<li><button>Submit</button></li>
		</ul>
	</form>
</section>

@{ ViewData["Title"] = $"Forgot your password?"; }
@section Header {@ViewData["Title"]}