button img, button img,
.button img, .button img,
.small-button img, .small-button img {
	padding-right: 3px;
}

button,
.button {
	padding: 4px 10px;
	margin: 2px;
	font: 96%/1.4em "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", Arial, "sans-serif";
}

a.button {
	border-bottom-width: 0;
}

.small-button, a.small-button {
	margin: 2px 6px 2px 0;
	padding: 1px 7px;
	font-size: 9pt;
	line-height: 12pt;
	font-weight: 600;
}

	.small-button:hover, a.small-button:hover {
		color: #FFF;
	}

button,
.button,
a.button,
.small-button,
a.small-button {
	display: inline-block;
	white-space: nowrap;
	letter-spacing: .35px;
	cursor: pointer;
	background: linear-gradient(0deg, #35568e, #4d6690);
	text-shadow: #000 0 0 5px;
	border: 1px solid #253248;
	border-radius: 2px;
	box-shadow: none;
	color: #e1edf3;
}

	button.highlight,
	.button.highlight,
	a.button.highlight,
	.small-button.highlight,
	a.small-button.highlight {
		color: #000;
		border: 1px solid #7090c6 !important;
		background: linear-gradient(0deg, #92abba, #e1edf3);
		text-shadow: none;
	}

	button:hover,
	.button:hover,
	a.button:hover,
	.small-button:hover,
	a.small-button:hover {
		border-color: #7090c6;
		box-shadow: none;
	}

	button:disabled,
	.button:disabled,
	a.button:disabled,
	.small-button:disabled,
	a.small-button:disabled {
		border-color: #707070;
		box-shadow: none;
		background: #121212;
	}

.subdued-button,
a.subdued-button {
	border-color: #4d6690;
	box-shadow: none;
	background: transparent;
}