form ul li {
	display: inline-block;
}

form li, dt {
	padding: 12px 0 6px 0;
	font-weight: 600;
	font-size: 0.9rem;
	line-height: 0.9rem;
}

dl {
	padding: 8px 0 0 8px;
}

dd {
	padding: 2px 0 0 6px;
}

input,
textarea,
select {
	padding: 4px 10px;
	margin: 2px;
	font: 0.96rem/1.4rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	border: 1px solid #253248;
	border-radius: 2px;
	max-width: 95%;
	background-color: #0a0d12;
	color: #e1edf3;
}

	input:disabled,
	textarea:disabled,
	select:disabled {
		border-color: #707070;
		box-shadow: none;
		background: #121212;
	}

textarea {
	min-width: 200px;
	max-width: 1600px;
	width: 95%;
	height: 200px;
}

.small-input {
	width: 60px;
}

.long-input {
	width: 300px;
}