form ul li {
	display: inline-block;
}

form li, dt {
	padding: 12px 0 6px 0;
	font-weight: 600;
	font-size: .9em;
	line-height: .9em;
}

dl {
	padding: 8px 0 0 8px;
}

dd {
	padding: 2px 0 0 6px;
}

input,
textarea,
select {
	padding: 4px 10px;
	margin: 2px;
	font: 96%/1.4em "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", Arial, "sans-serif";
	border: 1px solid #253248;
	border-radius: 2px;
	max-width: 95%;
	background-color: #0a0d12;
	color: #e1edf3;
}

	input:disabled,
	textarea:disabled,
	select:disabled {
		border-color: #707070;
		box-shadow: none;
		background: #121212;
	}

textarea {
	min-width: 200px;
	max-width: 1600px;
	width: 95%;
	height: 200px;
}

:focus::placeholder {
	color: transparent;
}

:focus::-ms-input-placeholder {
	color: transparent;
}

.small-input {
	width: 60px;
}

.long-input {
	width: 300px;
}