[data-component="smiley-selector"] {
	min-width: 200px;
}

	[data-component="smiley-selector"] img {
		padding: 15px;
		border: 1px solid transparent;
        border-radius: 2px;
	}

		[data-component="smiley-selector"] img:hover {
			background-color: #253248;
			border-color: #7090c6;
			cursor: pointer;
		}