@model string[]

@if (Model.Any()) {
	<p><img src="/images/birthday.gif" /></p>
	<h4>Happy birthday!</h4>
	<ul class="gap-bottom">
		@foreach (var birthdayPerson in Model) {
			<li>@birthdayPerson</li>
		}
	</ul>
}