@{ 
	var siteAge = DateTime.Now.Year - 2000;
}

<footer id="page-footer" class="align-center">
	<p><a href="https://github.com/jyarbro/forum">Theme 12 | Code 3.2.5</a></p>
	<p><span id="easter-egg">Bringing disorder to chaos for @siteAge years.</span></p>
	<div id="danger-sign" class="hidden">
		<img src="~/images/dangerSign.png" />
	</div>
</footer>

@if (ViewData["Smileys"] != null) {
	@await Html.PartialAsync("_SmileySelector", ViewData["Smileys"]);
}