@inject SignInManager<Forum3.DataModels.ApplicationUser> SignInManager
@inject UserManager<Forum3.DataModels.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Authentication" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Profile" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Authentication" asp-action="Register">Register</a></li>
        <li><a asp-controller="Authentication" asp-action="Login">Log in</a></li>
    </ul>
}
