@using Microsoft.Extensions.Options
@inject IOptions<Forum.Models.ServiceModels.RecaptchaOptions> Options

<link rel="stylesheet" href="~/styles/recaptcha.css" asp-append-version="true" />

<environment include="Development">
	<div class="g-recaptcha"><img src="~/images/recaptcha.png" title="Recaptcha placeholder" /></div>
</environment>
<environment exclude="Development">
	<div class="g-recaptcha" data-sitekey="@Options.Value.RecaptchaSiteKey"></div>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</environment>