@model ViewModels.Sidebar

<div id="side-bar" class="pad overflow-hidden float-right">
	<partial name="_BirthdayList" model="@Model.Birthdays" />
	<partial name="_NotificationsList" model="@Model.Notifications" />
	<partial name="_OnlineUsersList" model="@Model.OnlineUsers" />
</div>

<environment include="Development">
	<link rel="stylesheet" href="~/css/Pages/Sidebar.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
	<link rel="stylesheet" href="~/css/min/Sidebar.min.css" asp-append-version="true" />
</environment>