@model ManagePageViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<p class="text-success">@ViewData["StatusMessage"]</p>

<form method="post" class="form-horizontal">
    <p>Display Name: <input asp-for="DisplayName" /></p>
    <p><button>Save Changes</button></p>
</form>

@if (Model.HasPassword) {
    <p><a asp-controller="Profile" asp-action="ChangePassword">Change password</a></p>
}
else {
    <p><a asp-controller="Profile" asp-action="SetPassword">Create a password</a></p>
}

<p>@Model.Logins.Count <a asp-controller="Profile" asp-action="ManageLogins">Manage external logins</a></p>
