#categories {
	margin-right: 230px;
}

#side-bar {
	width: 220px;
}

	#side-bar li {
		display: block;
		margin: 0 5px;
		padding: 4px 10px;
		cursor: default;
		white-space: nowrap;
	}

	#side-bar time {
		color: #516169;
		font-size: 7.5pt;
		line-height: 1em;
		font-weight: bold;
	}

.board-name {
	margin-right: 300px;
}

.board-last-post {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
}