#categories {
	margin-right: 230px;
}

#side-bar {
	width: 220px;
}

	#side-bar li {
		display: block;
		margin: 0 5px;
		padding: 4px 10px;
		white-space: nowrap;
	}

.board-name {
	margin-right: 300px;
}

.board-last-post {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
}