.details {
	width: 100%;
	margin-right: 20px;
}

.pin {
	width: 20px;
}

div.hover-highlight:hover {
	border-top-color: #4d6690;
	box-shadow: #4d6690 0 -2px 0 inset;
}

#topic-list {
	margin-right: 230px;
}

@media only screen and (max-width: 900px) {
	#topic-list {
		margin-right: 0;
	}
}