.youtubePlayer {
	width: 640px;
	height: 360px;
	max-width: 100%;
}

.user-avatar {
	padding: 12px 0;
}

	.user-avatar img {
		max-width: 100%;
	}

	.user-avatar canvas {
		max-width: 70%;
	}

#topic-header {
	margin-left: 140px;
}

.message-container, .message-thoughts, .message-cards {
	margin-left: 115px;
}

.message-header {
	margin-bottom: 13px;
}

.message-body {
	white-space: pre-line;
	padding-left: 5px;
}

.message-body a {
	text-decoration: none;
	border-bottom: 1px solid #253248;
	box-shadow: inset 0 -3px 0 #253248;
}

	.message-body a:hover {
		border-color: #7090c6;
		box-shadow: inset 0 -3px 0 #7090c6;
	}

blockquote.reply {
	width: 98%;
	padding: 15px 25px;
	margin: 5px auto 25px auto;
	border-left: 5px solid #1d2737;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #0c0f14;
}

	blockquote.reply:hover {
		background-color: #1d2737;
		border-left-color: #253248;
	}

	blockquote.reply div {
		white-space: pre-line;
	}

blockquote.card {
	width: 94%;
	padding: 10px;
	margin: 10px auto;
	background: #1d2737;
	border-radius: 2px;
	border: 1px solid #253248;
	box-shadow: 0 0 15px 1px #0c0f14;
	font-size: .8em;
}

blockquote.quote {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 2px solid #1d2737;
	border-radius: 5px;
	background-color: #0c0f14;
}

.embedded-video {
	text-align: center;
	padding: 5px;
}

.card-image {
	margin: 0 15px 0 0;
	max-width: 150px;
	min-height: 100px;
	float: left;
}

	.card-image img {
		max-width: 100%;
	}

.card-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

	.card-title a {
		border: 0;
	}