@model ViewModels.Roles.IndexPage

@if (Model.Roles.Any()) {
	<div class="content-box pad">
		<ul>
			@foreach (var item in Model.Roles) {
				<partial name="_IndexItem" for="@item" />
			}
		</ul>

		<p class="gap-top"><a class="button" asp-action="@nameof(Roles.Create)">Create a New Role</a></p>
	</div>
}

@{ViewData["Title"] = "Roles";}
@section Header {@ViewData["Title"]}