.bbc-bold {
	font-weight: 900;
	color: #FFFFFF;
}

.bbc-strike {
	text-decoration: line-through;
}

.bbc-italic {
	font-style: italic;
}

.bbc-underline {
	text-decoration: underline;
}

.bbc-code {
	font-family: monospace;
	white-space: pre;
}

.bbc-quote {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 2px solid #1d2737;
	border-radius: 5px;
	background-color: #0c0f14;
}

.bbc-list {
	white-space: normal;
}

ul.bbc-list, ul.bbc-list > .bbc-list-item {
	list-style: circle;
}

ol.bbc-list {
	counter-reset: item;
}

ol.bbc-list > .bbc-list-item {
	counter-increment: item;
}

	ol.bbc-list > .bbc-list-item:before {
		margin-right: 10px;
		content: counter(item);
		background: #7090c6;
		border-radius: 100%;
		color: #121822;
		text-align: center;
		display: inline-block;
		font-weight: bold;
		font-size: .8em;
		line-height: 1.3em;
		width: 1.2em;
	}

.bbc-spoiler {
	color: #000;
	background-color: #000;
	border: 1px solid #253248;
	padding-left: 5px;
	padding-right: 5px;
}

.bbc-spoiler:hover {
	color: #999;
}

.bbc-spoiler::before {
	color: #666;
	font-size: .8em;
	vertical-align: top;
	content: "spoiler: ";
	padding-right: 5px;
}