#onlineUsersIndex {
	width: 220px;
	max-width: 220px;
	overflow: hidden;
	vertical-align: top;
}

	#onlineUsersIndex li {
		display: block;
		margin: 0 5px;
		padding: 4px 10px;
		cursor: default;
		white-space: nowrap;
	}

	#onlineUsersIndex time {
		color: #516169;
		font-size: 7.5pt;
		line-height: 12pt;
		font-weight: bold;
	}

.chicletOnline {
	background-color: #00e300;
	height: 5px;
	width: 5px;
	display: inline-block;
	border-radius: 2px;
}

.lastPost {
	width: 300px;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
}