form ul li {
	display: inline-block;
}

form li, form dt {
	padding: 12px 0 3px 0;
	font-weight: 600;
	font-size: .9em;
	line-height: .9em;
}

form dl {
	margin: 10px 0;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #253248;
}

form dd {
	padding-left: 6px;
}

input,
textarea {
	padding: 4px 10px;
	margin: 2px;
	font: 96%/1.4em "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", Arial, "sans-serif";
	border: 1px solid #253248;
	border-radius: 2px;
	max-width: 95%;
	background-color: #0a0d12;
	color: #d6e3eb;
}

:focus::placeholder {
	color: transparent;
}

:focus::-ms-input-placeholder {
	color: transparent;
}

textarea {
	min-width: 200px;
	max-width: 1600px;
	width: 95%;
	height: 200px;
}

	input:disabled, textarea:disabled {
		background-color: #121822;
	}