.chiclet {
	background-color: #808080;
	height: 5px;
	width: 5px;
	display: inline-block;
	border-radius: 2px;
}

.chiclet-green {
	background-color: #00e300;
}

.chiclet-gold {
	background-color: #ffd800;
}

.menu-wrapper {
	position: relative;
}

.drop-down-menu {
	max-height: 300px;
	padding: 5px 10px;
	position: absolute;
	overflow-y: auto;
	right: 0;
	border: 1px solid #253248;
	box-shadow: #121822 0 3px 8px;
	z-index: 999;
}

	.drop-down-menu li {
		padding: 0 10px;
		cursor: pointer;
		white-space: nowrap;
	}
	
#smiley-selector {
	min-width: 200px;
	position: absolute;
	display: none;
	box-shadow: #0c0f14 0 5px 12px;
}

	#smiley-selector > div {
		max-height: 300px;
	}

	#smiley-selector ul {
		min-width: 35px;
		padding: 3px 0 3px 10px;
		display: inline-block;
		vertical-align: top;
	}

	#smiley-selector img {
		padding: 5px;
		border: 1px solid transparent;
	}

		#smiley-selector img:hover {
			background-color: #253248;
			border-color: #7090c6 ;
			cursor: pointer;
		}


.g-recaptcha {
	margin: 20px 0;
}

#side-bar {
	width: 220px;
}

@media only screen and (max-width: 900px) {
	#side-bar {
		display: none;
	}
}

#side-bar li {
	display: block;
	margin: 0 5px;
	padding: 4px 10px;
	white-space: nowrap;
}

#whos-online {
	min-height: 300px;
	max-height: 600px;
	overflow: hidden;
	position: relative;
}

	#whos-online:after {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		pointer-events: none;
		background-image: linear-gradient(to bottom, rgba(29,39,55,0), rgba(29,39,55,1) 90%);
		width: 100%;
		height: 200px;
	}