html, body {
	min-width: 250px;
	margin: 0;
	padding: 0;
	background-color: #071822;
}

body {
	font: 96%/1.4em "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", Arial, "sans-serif";
	color: #e6f7ff;
}

table {
	empty-cells: show;
	border-spacing: 0;
	border-collapse: collapse;
}

hr {
	color: #ACD;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

a, a:link {
	text-decoration: none;
	border-bottom: 1px dotted #6dc6ff;
	color: #62c9ff;
}

a:visited, a.read {
	text-decoration: none;
	border-bottom: 1px dotted #69165a;	
}

input,
button,
textarea,
.button {
	padding: 4px 10px;
	margin: 2px;
	font: 96%/1.4em "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", Arial, "sans-serif";
	border: 1px solid #184f6f !important;
	border-radius: 3px;
	color: white;	
}

input,
textarea {
   	box-shadow: 0 0 15px 0 #184f6f inset;
	max-width: 95%;
	background-color: #0f3549;
}

textarea {
	width: 95%;
	height: 200px;
}

button,
.button {
	white-space: nowrap;
	background-color: #113950;
}

.button {
	display: inline-block;
}

a.button, a.button:visited {
	border-bottom-width: 0;
	color: white;
}

.smallButton, a.smallButton {
	margin: 2px 6px 2px 0;
	padding: 1px 7px;
	white-space: nowrap;
	display: inline-block;
	color: #ACD;
	border: 1px solid #184f6f !important;
	border-radius: 3px;
	background-color: #113950;
	font-size: 7.5pt;
    line-height: 12pt;
    font-weight: bold;
}

.smallButton:hover, a.smallButton:hover {
	color: #FFF;
}

button,
.button,
a.button,
.smallButton,
a.smallButton {
	cursor: pointer;
	box-shadow: 0 -1px 8px 0 #071822 inset;
}

.subtleButton, a.subtleButton {
	background-color: #0c2635;
    box-shadow: none;
}

.subtleButton {
	border: 1px solid #000 !important;
}

a.subtleButton, .subtleButton a {
	border: 0 !important;
}

.discordButton {
	background-color: #306 !important;
}

a.discordButton {
	border: 1px solid #509 !important;
}

.discordButton img {
	vertical-align: middle;
	height: 15px;
	width: 15px;
}

input:disabled, textarea:disabled, button:disabled {
	background-color: #490f0f;
}

br.clear {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	margin: 0;
	padding: 0;
}

fieldset {
    border: 0;
    margin: 0 0 20px 0;
}

fieldset ol {
    margin: 0 0 20px 0;
    padding: 0;
}

img {
    border: 0;
}

video {
    max-width: 100%;
    height: auto;
}

.youtubePlayer {
    width: 640px;
    height: 360px;
    max-width: 100%;
}

#pageHeader {
	clear: both;
	font-size: .8em;
	background-image: url("/Content/Images/diagonalAurora.png");
	background-repeat: repeat-x;
}

#pageFooter {
	margin: 30px 0 0 0;
	clear: both;
	text-align: center;
	font-size: .7em;
	line-height: 1.2em;
	color: #7AB;	
}

#pageTitle {
	height: 99px;
    text-align: center;
}

#pageTitle img {
	max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

#pageHeader a {
	border: 0;
}

#pageHeader nav {
    padding: 0 10px;
	background-color: #031019;
    box-shadow: 0 0 7px 1px #031019;
}

#pageHeader #welcome {
	margin: 5px 0 0 0;
}

#pageHeader ul {
	margin: 0;
    padding: 0;
	float: right;
}

#pageHeader li {
    display: inline-block;
}

#siteAlert {
	clear: both;
	background: #ACD;
	color: #000;
	text-align: center;
	line-height: 2em;
	font-size: 1.4em;
	font-weight: bold;
}

#pageBody, #headerNavContents {
	width:90%;
	max-width: 1600px;
	min-width: 250px;
	margin: 0 auto;
	clear: both;
}

#pageBody, #pageContents {
	padding: 20px 0;
}

#pageBody nav.actions {
	float: right;
}

#pageBody nav li {
	display: inline-block;
}

ol.nav li {
	display: inline-block;
}

#profile {
	margin: 5px 20px 0 0;
	float: right;
}

.notifications {
	margin: 0 5px;
	padding: 1px 6px;
	background-color: #ACD;
	color: #000 !important;
	font-weight: bold;
	border-radius: 2px;
	border: 1px solid #FFF !important;
	cursor: pointer;
	box-shadow: 0 0 5px #1b5a7f;
}

.notificationsNone {
	background-color: transparent;	
	color: inherit !important;
	font-weight: normal;
	border: 1px solid #184f6f !important;
}

.notifications img {
	border: 0;
}

a.borderless {
	border-width: 0;
}

.smallText {
   	color: #ACD;
	font-size: 7.5pt;
    line-height: 12pt;
    font-weight: bold;
}

.clear {
	clear: both;
}

.floatright {
	float: right;
	clear: right;
}

.floatleft {
	float: left;
	clear: left;
}

.fontsmall {
	font-size: .7em;
}

.hidden {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

.roundedBox {
	max-width: 90%;
	margin: 3px auto;
	clear: both;
}

.roundedBoxHead {
	padding: 20px 20px 0 20px;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.8em;
}

.roundedBoxHead ul {
	width: 100%;
}

.roundedBoxHead li {
	padding: 0 15px;
	display: inline-block;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #113950;
	color: #7AB;
	background-color: #010609;
}

.roundedBoxHead li.active {
	background: #113950;
	color: #FFF;
	border-color: #FFF;
}

.roundedBoxHead li:hover, .roundedBoxHead li:hover a {
	color: #FFF;
}

.roundedBoxContent {
	padding: 19px;
	border: 1px solid #113950;
	border-top-width: 2px;
	border-radius: 5px;
	background-color: #010609;
}

.roundedBoxFooter {
	padding: 6px 20px;
}

.dynamicSelectionList li {
	cursor: pointer;
	padding: 4px;
}

.dynamicSelectionList li:hover {
	background: #091d28;
	text-decoration: underline;
}

.note, a.note {
	padding: 4px;
	color: #badff1;
	font-size: 8pt;
	line-height: 12pt;
    border: 0;
}

.largeNote {
	padding: 0 10px;
	color: #badff1;
	font-size: 1em;
	line-height: 2em;
}

.user {
	cursor: pointer;
	color: #badff1;
}

.highlight {
	background-color: #ACD !important;
	color: #000 !important;
	box-shadow: none !important;
	border: 1px solid #FFF !important;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: .9em;
}

button [class^="icon-"], button [class*=" icon-"],
.button [class^="icon-"], .button [class*=" icon-"],
.smallButton [class^="icon-"], .smallButton [class*=" icon-"] {
	padding-right: 3px;
}

.hoverHighlight:hover {
	color: white;
	text-decoration: underline;
}

.field-validation-error, .validation-summary-errors, .error {
	font-weight: bold;
	color: #d01d1d;
}

.inline {
    display: inline-block;
}

.fullWidth {
	width: 100%;
}

.mobileOnly {
    display: none;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

/*
Selectors and floating lists
*/

#smileySelector {
    max-height: 300px;
	padding: 4px 10px 4px 0;
	border: 1px solid #113950;
	border-top-width: 2px;
	border-radius: 5px;
	background-color: #000;
    box-shadow: 0 5px 10px 0 #000;
    position: absolute;
    overflow-y: scroll;
    display: none;
}

#smileySelector ul {
    min-width: 35px;
    padding: 3px 0 3px 10px;
    display: inline-block;
    vertical-align: top;
}

#smileySelector li {
    padding: 5px 0;
}

#smileySelector img {
    border: 1px solid #000;
}

#smileySelector img:hover {
    border-color: #113950;
    cursor: pointer;
}



#inviteeSelector, #userSearch {
    max-height: 300px;
	padding: 4px 10px 4px 0;
	border: 1px solid #113950;
	border-top-width: 2px;
	border-radius: 5px;
	background-color: #000;
    box-shadow: 0 5px 10px 0 #000;
    position: absolute;
    overflow-y: scroll;
    display: none;
}

#inviteeSelector li, #userSearch li {
    padding: 4px 5px;
    cursor: pointer;
    color: #FFF;
}