/*

	background			1d2737
	content box			121822
	text				d6e3eb
	subdued text		92abba
	area highlight		253248
	border				253248
	border highlight	7090c6
	button				35568e - 4d6690
	input				0c0f14
*/

html, body {
	min-width: 250px;
	margin: 0;
	padding: 0;
	background: url("../images/aurora.png") #1d2737 repeat-x;
}

body {
	font: 500 15px/1.4em "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", Arial, "sans-serif";
	color: #d6e3eb;
}

table {
	empty-cells: show;
	border-spacing: 0;
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: #d6e3eb;
}

a:hover {
	color: #ffffff;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

dl,
dt,
dd,
ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

p, blockquote {
	margin: 0;
	padding: 0;
}

br.clear {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	margin: 0;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0 0 20px 0;
}

	fieldset ol {
		margin: 0 0 20px 0;
		padding: 0;
	}

img {
	border: 0;
}

video {
	max-width: 100%;
	height: auto;
}

.youtubePlayer {
	width: 640px;
	height: 360px;
	max-width: 100%;
}

[class^="icon-"], [class*=" icon-"] {
	font-size: .9em;
}



/*
    FORMS
*/

form li {
    display: inline-block;
}

form li, form dt {
    padding: 12px 0 3px 0;
    font-weight: 600;
    font-size: .9em;
    line-height: .9em;
}

form dd {
	padding-left: 6px;
}

input,
textarea {
	padding: 4px 10px;
	margin: 2px;
	font: 96%/1.4em "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", Arial, "sans-serif";
	border: 1px solid #253248;
	border-radius: 2px;
	max-width: 95%;
	background-color: #0a0d12;
	color: #d6e3eb;
}

textarea {
	min-width: 200px;
	max-width: 1600px;
	width: 95%;
	height: 200px;
}

	input:disabled, textarea:disabled, button:disabled {
		background-color: #121822;
	}



/*
    HELPERS
*/

.error {
	font-weight: bold;
	color: #d01d1d;
}

.borderless,
a.borderless,
.borderless *,
a.borderless * {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	box-shadow: none;
}

.highlight {
	border: 1px solid #7090c6 !important;
}

.hover-underline:hover {
	color: #FFF;
	text-decoration: underline;
}

.hover-highlight:hover {
	background-color: #253248;
}

.clear {
	clear: both;
}

.float-right {
	float: right;
	clear: right;
}

.float-left {
	float: left;
	clear: left;
}

.margin-center {
	margin: 0 auto;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}

.note, a.note {
	border: 0;
	font-size: 8pt;
	line-height: 12pt;
	color: #92abba;
}

.note-large {
	padding: 0 10px;
	color: #92abba;
	font-size: 1em;
	line-height: 2em;
}

.font-small {
	line-height: 12pt;
	font-size: .7em;
	font-weight: bold;
	color: #92abba;
}

.hidden {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

.inline {
	display: inline-block;
}

.inline > li {
	display: inline-block;
}

.full-width {
	width: 100%;
}

.relative {
	position: relative;
}

.gap {
	margin: 10px 0;
}

.gap-top {
	margin-top: 20px;
}

.gap-bottom {
	margin-bottom: 20px;
}

.pad {
	padding: 15px 20px;
}

.pad-top {
	padding-top: 15px;
}

.pad-bottom {
	padding-bottom: 15px;
}

.pad-left {
	padding-left: 20px;
}

.pad-right {
	padding-right: 20px;
}

.small-pad {
	padding: 5px 10px;
}

.small-pad-top {
	padding-top: 5px;
}

.small-pad-bottom {
	padding-bottom: 5px;
}

.small-pad-left {
	padding-left: 10px;
}

.small-pad-right {
	padding-right: 10px;
}

.spaced {
	margin: 0 5px;
}

.spaced-left {
	margin-left: 5px;
}

.spaced-right {
	margin-right: 5px;
}

.mobile-only {
	display: none;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}



/*
    PAGE HEADER
*/

#page-header {
	width: 100%;
	max-width: 1920px;
	min-width: 250px;
	font-size: .8em;
}

#page-title {
	height: 99px;
}

	#page-title img {
		max-width: 100%;
		max-height: 100%;
	}



/*
    PAGE FOOTER
*/

#page-footer {
	margin: 30px 0 0 0;
	clear: both;
	text-align: center;
	font-size: .65em;
	line-height: 1.8em;
	color: #92abba;
}



/*
    PAGE BODY
*/

div[role="main"] {
	width: 90%;
	max-width: 1600px;
	min-width: 250px;
	padding: 20px 0;
}

#profile {
	margin: 5px 20px 0 0;
	float: right;
}

.dynamicSelectionList li {
	cursor: pointer;
	padding: 4px;
}

	.dynamicSelectionList li:hover {
		background: #121822;
		text-decoration: underline;
	}
	


/*
    MAIN CONTENT
*/

main > header {
	padding: 20px 20px 0 20px;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.8em;
	color: #FFF;
	text-shadow: #253248 0 0 5px;
    text-align: left;
}

	main > header ul {
		width: 100%;
	}

	main > header li {
		padding: 0 15px;
		display: inline-block;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-top: 1px solid #253248;
	}

	main > header .active {
		border-color: #FFF;
	}

main > footer {
	padding: 6px 20px;
}



/*
	CONTENT BOX
*/

.content-box {
	border-top: 2px solid #253248;
	border-radius: 2px;
	background-color: #121822;
	box-shadow: #1d2737 0 -2px 8px inset;
}



/*
	DROP DOWN MENU
*/

.drop-down-menu-wrapper {
	position: relative;
	display: none;
}

.drop-down-menu {
	max-height: 300px;
	padding: 5px 10px;
	position: absolute;
	overflow-y: auto;
	right: 0;
	border: 1px solid #253248;
	box-shadow: #121822 0 3px 8px;
}

	.drop-down-menu li {
		padding: 0 10px;
		cursor: pointer;
	}

		.drop-down-menu li:hover {
			background-color: #253248;
		}



/*
    BUTTONS
*/

button [class^="icon-"], button [class*=" icon-"],
.button [class^="icon-"], .button [class*=" icon-"],
.small-button [class^="icon-"], .small-button [class*=" icon-"] {
	padding-right: 3px;
}

button,
.button {
	padding: 4px 10px;
	margin: 2px;
	font: 96%/1.4em "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", Arial, "sans-serif";
	color: #fff;
}

a.button {
	border-bottom-width: 0;
	color: #fff;
}

.small-button, a.small-button {
	margin: 2px 6px 2px 0;
	padding: 1px 7px;
	font-size: 7.5pt;
	line-height: 12pt;
	font-weight: 600;
	color: #d6e3eb;
}

	.small-button:hover, a.small-button:hover {
		color: #FFF;
	}

button,
.button,
a.button,
.small-button,
a.small-button {
	display: inline-block;
	white-space: nowrap;
	letter-spacing: .35px;
	cursor: pointer;
	background: linear-gradient(0, #35568e, #4d6690);
	text-shadow: #000 0 0 5px;
	border: 1px solid #253248;
	border-radius: 2px;
	box-shadow: none;
}

	button:hover,
	.button:hover,
	a.button:hover,
	.small-button:hover,
	a.small-button:hover {
		border-color: #7090c6;
		box-shadow: none;
	}
