.chiclet {
	background-color: #808080;
	height: 5px;
	width: 5px;
	display: inline-block;
	border-radius: 2px;
}

.chiclet-green {
	background-color: #00e300;
}

.chiclet-gold {
	background-color: #ffd800;
}

.drop-down-menu-wrapper {
	position: relative;
}

.drop-down-menu {
	max-height: 300px;
	padding: 5px 10px;
	position: absolute;
	overflow-y: auto;
	right: 0;
	border: 1px solid #253248;
	box-shadow: #121822 0 3px 8px;
}

	.drop-down-menu li {
		padding: 0 10px;
		cursor: pointer;
		white-space: nowrap;
	}

		.drop-down-menu li:hover {
			background-color: #253248;
		}

#smiley-selector {
	min-width: 200px;
	position: absolute;
	display: none;
	box-shadow: #0c0f14 0 5px 12px;
}

	#smiley-selector > div {
		max-height: 300px;
	}

	#smiley-selector ul {
		min-width: 35px;
		padding: 3px 0 3px 10px;
		display: inline-block;
		vertical-align: top;
	}

	#smiley-selector img {
		padding: 5px;
		border: 1px solid transparent;
	}

		#smiley-selector img:hover {
			background-color: #253248;
			border-color: #7090c6 ;
			cursor: pointer;
		}
