/*
    PAGE HEADER
*/

#page-header {
	width: 100%;
	max-width: 1920px;
	min-width: 250px;
	font-size: .8em;
}

#page-title {
	height: 99px;
}

	#page-title img {
		max-width: 100%;
		max-height: 100%;
	}



/*
    PAGE FOOTER
*/

#page-footer {
	margin: 30px 0 0 0;
	clear: both;
	text-align: center;
	font-size: .65em;
	line-height: 1.8em;
	color: #92abba;
}



/*
    PAGE BODY
*/

div[role="main"] {
	width: 90%;
	max-width: 1600px;
	min-width: 250px;
}

#profile {
	margin: 5px 20px 0 0;
	float: right;
}

.dynamicSelectionList li {
	cursor: pointer;
	padding: 4px;
}

	.dynamicSelectionList li:hover {
		background: #121822;
		text-decoration: underline;
	}
	


/*
    MAIN CONTENT
*/

main > header {
	padding: 0 20px 0 20px;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.8em;
	color: #FFF;
	text-shadow: #253248 0 0 5px;
    text-align: left;
}

	main > header ul {
		width: 100%;
	}

	main > header li {
		padding: 0 15px;
		display: inline-block;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-top: 1px solid #253248;
	}

	main > header .active {
		border-color: #FFF;
	}

main > footer {
	padding: 6px 20px;
}