.message-header {
	margin-bottom: 13px;
}

.message-body {
	white-space: pre-line;
	padding-left: 5px;
}

.message-body a {
	text-decoration: none;
	border-bottom: 1px solid #253248;
	box-shadow: inset 0 -3px 0 #253248;
}

	.message-body a:hover {
		border-color: #7090c6;
		box-shadow: inset 0 -3px 0 #7090c6;
	}

blockquote.card {
	width: 94%;
	padding: 10px;
	margin: 10px auto;
	/*background: linear-gradient(0, #121822, #1d2737);*/
	background: #1d2737;
	border-radius: 2px;
	border: 1px solid #253248;
	box-shadow: 0 0 15px 1px #0c0f14;
	font-size: .8em;
}

.card-image {
	margin: 0 15px 0 0;
	max-width: 150px;
	min-height: 100px;
	float: left;
}

	.card-image img {
		max-width: 100%;
	}

.card-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}

	.card-title a {
		border: 0;
	}