<section class="content-box pad">
    <p>Thank you for confirming your email. Please <a asp-area="Users" asp-controller="@nameof(Authentication)" asp-action="@nameof(Authentication.Login)">Click here to Log in</a>.</p>
</section>

@{ViewData["Title"] = "Confirm Email";}
@section Header {@ViewData["Title"]}