@model ForgotPasswordViewModel

<section class="content-box pad">
    <form method="post"
          asp-controller="@nameof(Authentication)" 
          asp-action="@nameof(Authentication.ForgotPassword)">

        <div asp-validation-summary="All" class="error"></div>

        <dl>
            <dt>Username (email address)</dt>
            <dd><input asp-for="Email" /></dd>
            <dd><span asp-validation-for="Email" class="error"></span></dd>
        </dl>

        <ul>
            <li><button>Request Password Reset</button></li>
        </ul>
    </form>
</section>

@{ViewData["Title"] = "Forgot your password?";}
@section Header {@ViewData["Title"]}