@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<Forum3.Models.DataModels.ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<section class="mainContent">
    <form method="post"
          asp-area="Users"
          asp-controller="Authentication"
          asp-action="Login"
          asp-route-returnurl="@ViewData["ReturnUrl"]">
        <div asp-validation-summary="All"></div>
        <dl>
            <dt>Email</dt>
            <dd><input asp-for="Email" /></dd>
            <dd><span asp-validation-for="Email"></span></dd>
        </dl>
        <dl>
            <dt>Password</dt>
            <dd><input asp-for="Password" /></dd>
            <dd><span asp-validation-for="Password"></span></dd>
        </dl>
        <dl>
            <dt><input asp-for="RememberMe" /> Remember Me</dt>
        </dl>

        <p><button>Log in</button></p>

        <div class="gap-top">
            <p><a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a></p>
            <p><a asp-action="ForgotPassword">Forgot your password?</a></p>
        </div>
    </form>
</section>