@model ResetPasswordViewModel

<section class="content-box pad">
    <form method="post"
          asp-controller="@nameof(Authentication)" 
          asp-action="@nameof(Authentication.ResetPassword)">

        <div asp-validation-summary="All" class="error"></div>

        <input asp-for="Code" type="hidden" />

        <dl>
            <dt>Username (email address)</dt>
            <dd><input asp-for="Email" /></dd>
            <dd><span asp-validation-for="Email" class="error"></span></dd>
        </dl>
        <dl>
            <dt>Password</dt>
            <dd><input asp-for="Password" /></dd>
            <dd><span asp-validation-for="Password" class="error"></span></dd>
        </dl>
        <dl>
            <dt>Confirm Password</dt>
            <dd><input asp-for="ConfirmPassword" /></dd>
            <dd><span asp-validation-for="ConfirmPassword" class="error"></span></dd>
        </dl>

        <ul>
            <li><button>Reset Password</button></li>
        </ul>
    </form>
</section>

@{ViewData["Title"] = "Reset your password";}
@section Header {@ViewData["Title"]}