<section class="content-box pad">
    <p>Your password has been reset. Please <a asp-controller="@nameof(Authentication)" asp-action="@nameof(Authentication.Login)">Click here to log in</a>.</p>
</section>

@{ViewData["Title"] = "Reset password confirmation";}

@section Header {
    @ViewData["Title"]
}