@model SendCodeViewModel

<section class="content-box pad">
    <form method="post"
          asp-controller="@nameof(Authentication)"
          asp-action="@nameof(Authentication.SendCode)" 
          asp-route-returnurl="@Model.ReturnUrl">

        <input asp-for="RememberMe" type="hidden" />

        <dl>
            <dt>Select Two-Factor Authentication Provider</dt>
            <dd><select asp-for="SelectedProvider" asp-items="Model.Providers"></select></dd>
        </dl>

        <ul>
            <li><button>Submit</button></li>
        </ul>
    </form>
</section>

@{ViewData["Title"] = "Send Verification Code";}
@section Header {@ViewData["Title"]}