@model VerifyCodeViewModel

<section class="content-box pad">
    <form method="post"
          asp-controller="@nameof(Authentication)" 
          asp-action="@nameof(Authentication.VerifyCode)" 
          asp-route-returnurl="@ViewData["ReturnUrl"]">

        <div asp-validation-summary="All" class="error"></div>
        
        <input asp-for="Provider" type="hidden" />
        <input asp-for="RememberMe" type="hidden" />
        
        <dl>
            <dt>Code</dt>
            <dd><input asp-for="Code" /></dd>
            <dd><span asp-validation-for="Code" class="error"></span></dd>
        </dl>

        <dl>
            <dt><input asp-for="RememberBrowser" /> Remember this browser?</dt>
        </dl>

        <ul>
            <li><button>Submit</button></li>
        </ul>
    </form>
</section>

@{ViewData["Title"] = "Verify";}

@section Header {
    @ViewData["Title"]
}