@model Forum3.ViewModels.Messages.Input

<div>
	<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

	<form asp-action="@Model.FormAction" asp-controller="Messages" role="form">
		<div class="form-group">
			<textarea asp-for="Body" class="form-control"></textarea>
			<span asp-validation-for="Body" class="text-danger" />
		</div>

		<input type="hidden" name="Id" value="@Model.Id" />

		<button type="submit" class="btn btn-default">Save</button>
		<span class="cancelButton button">Cancel</span>
	</form>
</div>