<h4>Quote of the Moment:</h4>
<div class="gap-bottom">
	<div class="content-box small-pad note">
		<p id="qotm">
			Lorem ipsum dolor sit amet, 
			consectetur adipiscing elit. 
			Donec facilisis eleifend 
			rutrum. Integer scelerisque 
			eros bibendum risus aliquet 
			dignissim. Mauris consectetur 
			faucibus neque. Nullam justo 
			mauris, commodo vel feugiat 
			ut, pulvinar quis leo. Etiam 
			sem augue, tristique eu 
			commodo eu, pulvinar id 
			justo. Cras pharetra libero 
			sit amet facilisis lacinia. 
			Mauris magna risus, sodales 
			a bibendum at, aliquam vitae 
			leo.
		</p>
	</div>
	<p class="note align-right">- Cheschire</p>
</div>