@model ViewModels.Sidebar.Sidebar

<div id="side-bar" class="pad overflow-hidden float-right">
	<partial name="Sidebar/_BirthdayList" model="@Model.Birthdays" />
	<partial name="Sidebar/_Quote" model="@Model.Quote" />
	<partial name="Sidebar/_NotificationsList" model="@Model.Notifications" />
	<partial name="Sidebar/_OnlineUsersList" model="@Model.OnlineUsers" />
</div>

<environment include="Development">
	<link rel="stylesheet" href="~/css/Pages/Sidebar.css" asp-append-version="true" />
</environment>
<environment exclude="Development">
	<link rel="stylesheet" href="~/css/min/Sidebar.min.css" asp-append-version="true" />
</environment>