@model IndexPage

<partial name="_TopicNav" model="1" />

<br class="clear" />

<partial name="SideBar/_Sidebar" for="@Model.Sidebar" />

<div id="categories">
	@foreach (var indexCategory in Model.Categories) {
		<partial name="_IndexCategory" for="@indexCategory" />
	}
</div>

@{ViewData["Title"] = "Warpstorm";}

@section styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/Pages/BoardIndex.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/min/BoardIndex.min.css" asp-append-version="true" />
	</environment>
}