@model IndexPage

@{
	ViewBag.Title = "Warpstorm";
}

<div class="table indexWrapper">
	<div class="table-row">
		<div class="table-cell">
			@if (Model.Birthdays.Count() > 0) {
				<div class="birthdays">
					<img src="/Content/Smileys/birthday.gif" /> Happy birthday @string.Join(", ", Model.Birthdays.ToArray())!
				</div>
			}

			@foreach (var indexCategory in Model.Categories) {
				@Html.Partial("_IndexItem", indexCategory)
			}
		</div>

		<div id="onlineUsersIndex" class="table-cell mobileHide lowResHide">
			<h4>Who's online this week</h4>
			<ul>
				@foreach (var onlineUser in Model.OnlineUsers) {
					<li>
						@if (onlineUser.Online) {
							<span class="chicletOnline"></span>
						}
						<span>@onlineUser.Name</span>
						<time>@onlineUser.LastOnlineString</time>
					</li>
				}
			</ul>
		</div>
	</div>
</div>