@model IndexPage

<div class="table full-width">
	<div class="table-row">
		<div class="table-cell">
			@if (Model.Birthdays.Count() > 0) {
				<div class="birthdays">
					<img src="/Content/Smileys/birthday.gif" /> Happy birthday @string.Join(", ", Model.Birthdays.ToArray())!
				</div>
			}

			@foreach (var indexCategory in Model.Categories) {
				@await Html.PartialAsync("_IndexCategory", indexCategory)
			}
		</div>

		<div id="onlineUsersIndex" class="table-cell pad">
			<h4>Who's online this week</h4>
			<ul>
				@foreach (var onlineUser in Model.OnlineUsers) {
					<li>
						@if (onlineUser.Online) {
							<span class="chicletOnline"></span>
						}
						<span>@onlineUser.Name</span>
						<time>@onlineUser.LastOnlineString</time>
					</li>
				}
			</ul>
		</div>
	</div>
</div>

@{ViewBag.Title = "Warpstorm";}

@section styles {
	<environment names="Development">
		<link rel="stylesheet" href="~/css/BoardIndex.css" asp-append-version="true" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/css/BoardIndex.min.css" asp-append-version="true" />
	</environment>
}