@model Forum3.ViewModels.Boards.Index

@{
    ViewData["Title"] = "Boards";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" asp-controller="Boards">Create New</a>
</p>

<table class="table">
    @foreach (var item in Model.Boards) {
        @Html.Partial("_IndexItem", item)
    }
</table>