@model IndexPage

@{
    ViewBag.Title = "Board Management";
}

<h1 class="pad-left">@ViewBag.Title</h1>

@Html.ValidationSummary()

@foreach (var category in Model.Categories) {
    @Html.Partial("_ManageItem", category)
}

<p>
	<a asp-controller="Boards" asp-action="Create" class="button">Create Board</a>
</p>

@section styles {
	<environment names="Development">
		<link rel="stylesheet" href="~/css/BoardManageIndex.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/css/BoardManageIndex.min.css" asp-append-version="true" />
	</environment>
}