@model IndexPage

@{
    ViewBag.Title = "Board Management";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary()

@foreach (var category in Model.Categories) {
    @Html.Partial("_ManageItem", category)
}

@section PageActions {
    <li><a asp-controller="Boards" asp-action="Create" class="button">Create Board</a></li>
}