@model ViewModels.Topics.TopicPreview

<div class="highlight gap-top">
	<div class="pin float-right small-pad-top">
		<img src="~/images/pinned.png" />
	</div>
	<div class="details small-pad" clickable-link-parent>
		<p>
			<a asp-action="@nameof(Topics.Latest)" asp-route-id="@Model.Id">
				@Html.Raw(Model.FirstMessageShortPreview)
				@if (Model.Popular) {
					<img src="~/images/flame.png" title="Popular" />
				}
				@if (Model.Unread == 1 || Model.Unread == 2) {
					<span class="small-button">new</span>
				}
			</a>
		</p>
	</div>
</div>