time {
	color: #516169;
	font-size: .85em;
	line-height: 1em;
	font-weight: bold;
}

.board-name {
	margin-right: 300px;
}

@media only screen and (max-width: 768px) {
	.board-name {
		margin-right: 0;
	}
}

.board-last-post {
	width: 50%;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	clear: right;
}

@media only screen and (max-width: 768px) {
	.board-last-post {
		width: 100%;
	}
}