#board-selector {
	width: 220px;
}

#board-selector ul {
	margin-left: 10px;
}

.form {
	margin-right: 230px;
}

@media only screen and (max-width: 768px) {
	#board-selector {
		display: none;
	}

	.form {
		margin-right: 0;
	}
}