#progress-bar {
	border: 2px solid #000;
	background-color: #00003b;
	width: 100%;
	height: 25px;
	margin: 0 auto;
}

#completed-bar {
	background-color: #000080;
	height: 20px;
	text-align: center;
}

#log {
	width: 100%;
	max-height: 300px;
	margin-right: 230px;
	overflow: auto;
}