<section class="content-box pad">
	<ul>
		<li class="pad"><a asp-action="@nameof(Messages.RebuildParticipants)">Rebuild participants</a></li>
		<li class="pad"><a asp-action="@nameof(Messages.RecountReplies)">Recount replies</a></li>
		<li class="pad"><a asp-action="@nameof(Messages.ProcessMessages)">Process message contents</a></li>
		<li class="pad"><a asp-action="@nameof(Messages.ReprocessMessages)">Reprocess message contents</a></li>
	</ul>
</section>