<section class="content-box pad">
	<ul>
		<li class="pad"><a asp-action="@nameof(Messages.RebuildThreads)">Rebuild threads</a></li>
		<li class="pad"><a asp-action="@nameof(Messages.ReprocessMessages)">Reprocess message contents</a></li>
	</ul>
</section>